name: COBOL Check Automation

on:
  push:
    branches: [main]

jobs:
  cobol-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Zowe CLI
      run: |
        npm install -g @zowe/cli@latest
        echo "$(npm bin -g)" >> $GITHUB_PATH
    
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Setup Mainframe Environment and Upload COBOL Check
      env:
        ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
        ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
        ZOWE_HOST: 204.90.115.200
        ZOWE_PORT: 10443
      run: |
        chmod +x .github/scripts/zowe_operations.sh
        .github/scripts/zowe_operations.sh

    - name: Run COBOL Check on Mainframe
      env:
        ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
        ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
        ZOWE_HOST: 204.90.115.200
        ZOWE_PORT: 10443
      run: |
        chmod +x .github/scripts/mainframe_operations.sh
        sshpass -p "$ZOWE_PASSWORD" ssh -o StrictHostKeyChecking=no $ZOWE_USERNAME@$ZOWE_HOST 'sh -s' < .github/scripts/mainframe_operations.sh
